@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.bgurl {
  background-image: url("../public/photos/background.png");
  background-size: contain;
  background-position: top;
  background-repeat: repeat;
}
